.img{
  width: 100%;
  display:block;

}


.img-info{
  font-family:"Pacifico", serif;
  font-weight:bold ;
  line-height: 20px;
  margin-top: -1px;
  text-align: center;
  background-color: red;
  border: none;
}

.img,
.img-info{
  padding-left: 0;


}

.img-preview{
background-color: black;
}

